.chat-sidebar {
  height: 100%;
  width: 20%;
  min-width: 100px;
  background-color: #12c998;
  border-right: 1px solid lightgrey;
}

.chat-sidebar-user {
  color: white;
  font-weight: bold;
  margin: 5px;
}
