.message-container {
  width: 100%;
  color: black;
}

.message-user {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  margin-right: 8px;
}

.message-time {
  color: gray;
  font-size: 10px;
}

.message-items {
  margin: 0;
  padding: 0;
  font-size: 12px;
  list-style: none;
}

.message-item {
  padding: 4px 60px;
  position: relative;
}

.message-item:hover {
  background-color: #8886944f;
}

.message-item-time {
  display: none;
  position: absolute;
  left: 8px;
  font-size: 10px;
  bottom: 5px;
  color: gray;
}

.message-item:hover .message-item-time {
  display: block;
}

.message-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8px;
  padding: 0 60px;
}
