.chat-loading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.chat-waiting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 25px auto;
}

.chat-waiting-message {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.chat-waiting-info {
  margin: 25px;
}
